<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/create_suspect.css">
    <title>Create Suspect</title>
</head>
<body>
    <header><!---114 x 405---->
        <div id="header-options">
          <img id="logo" src="../static/logo1.png" alt="Logo" height="57" width="202">
          <a class="header-button" href="/create/suspects">Suspects</a>
          <a class="header-button" href="/create/victims">Victims</a>
          <a class="header-button" href="/create/investigators">Investigators</a>
          <a class="header-button" href="/create/evidences">Evidences</a>
        </div>
        <div>
          <a id="new_case" class="header-button" href="/create/case">New Case</a>
          <h1 id="header-title">Crime Scene Investigation</h1>
        </div>
        <hr class="divisor">
      </header>

    <main>
 
        <!-- Form to assign a Suspect to a Case -->
        <form action="/create/suspect" method="post">
            <label for="suspect_name">Suspect Name:</label>
            <input type="text" id="suspect_name" name="suspect_name" required>
    
            <label for="alias">Suspect Alias:</label>
            <input type="text" id="alias" name="alias" required>
    
            <label for="date_of_birth">Suspect date of Birth:</label>
            <input type="text" id="date_of_birth" name="date_of_birth" placeholder="dd/mm/yyyy" required>
    
            <label for="description">Suspect Physical Description:</label>
            <input type="text" id="description" name="description" required>
            
            <label for="case_number">Case Number:</label>
            <input type="text" id="case_number" name="case_number" required>
            
            <button type="submit">Assign Suspect</button>
        </form>
    </main>
</body>
</html>