<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/index.css">
    <title>Sherlock</title>
</head>
<body>
    <header>
      <img src="../static/logo1.png" alt="Logo" height="114" width="405">
    </header>
  
    <main>
      <div class="button-container">
        <a href="#" class="button create">Create</a>
        <a href="#" class="button view">View</a>
        <a href="#" class="button update">Update</a>
        <a href="#" class="button delete">Delete</a>
      </div>
    </main>

  </body>
  <footer>
    
  </footer>
</html>