<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/index.css">
    <title>Sherlock</title>
</head>
<body>
    <header><!---114 x 405---->
      <img id="logo" src="../static/logo1.png" alt="Logo" height="57" width="202">
      <h1>Crime Scene Investigation</h1>
    </header>
  
    <main>
      <h2>Choose the Case</h2>
      <div class="button-container">
        {% for case_number in case_numbers %}
          <a href="/home/{{ case_number }}" class="button case-button">{{ case_number }}</a>
        {% endfor %}
      </div>
    </main>

  </body>
  <footer>
    <p id="copyright">&copy; Isaque Hollanda Gonçalves</p>
  </footer>
</html>