<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/create_victim.css">
    <title>Assign Investigator</title>
</head>
<body>
    <header><!---114 x 405---->
        <div id="header-options">
          <img id="logo" src="../static/logo1.png" alt="Logo" height="57" width="202">
          <a class="header-button" href="/create/suspects">Suspects</a>
          <a class="header-button" href="/create/victims">Victims</a>
          <a class="header-button" href="/create/investigators">Investigators</a>
          <a class="header-button" href="/create/evidences">Evidences</a>
        </div>
        <div>
          <a id="new_case" class="header-button" href="/create/case">New Case</a>
          <h1 id="header-title">Crime Scene Investigation</h1>
        </div>
        <hr class="divisor">
      </header>

    <main>
        <!-- Form to assign a Victim to a Case -->
        <form action="/assign_victim" method="post">
            <label for="victim_name">Victim Name:</label>
            <input type="text" id="victim_name" name="victim_name" required>
    
            <label for="age">Victim Age:</label>
            <input type="number" id="age" name="age" required>
    
            <label for="contact_information">Victim Contact:</label>
            <input type="number" id="contact_information" name="contact_information" required>
            
            <label for="case_number">Case Number:</label>
            <input type="text" id="case_number" name="case_number" required>
            
            <button type="submit">Assign Victim</button>
        </form>
    </main>
</body>
</html>